/* #managerBody{
} */
.red {
  color: orangered;
}
.green {
  color: green;
}
#managerTitle {
  color: orangered;
}
#filter_form {
  border: 4px solid orangered;
  margin: 3vw;
}
#submitFilter {
  justify-content: center;
  background-color: orangered;
  color: white;
}
