#allUsers{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
   align-content: center;
}
.red {
  color: orangered;
}
.green {
  color: green;
}
#managerTitle {
  color: orangered;
}
#filter_form , #meetForm{
  border: 4px solid orangered;
  margin: 3vw;
}
#pasandemail{
    text-align: center;
    /* justify-content: center; */
}
#userDetails{
    text-align: center;
    justify-content: center
}
tr{
  justify-content: center;
  text-align: center;
  color: black;
  border:1px solid orangered;
}
td{
  color: orangered;
  text-align: center;
  border:1px solid black;
  
}
table{
  display: flex;
  justify-content:space-around;
  text-align: center;
}
#newMeetingButton, #submitFilter{
  color: orangered;
  margin: 2vh;
  justify-content: center;
}
#mydetails{
  justify-content: center;
  text-align: center;
  color: black;
  margin-right: 20%;
  margin-left: 20%;
  border:4px solid orangered;
}
#user{
  color: orangered;
}
#buttonEdit,#buttonSave,#buttonLogin,#buttonDetail,#buttonProduct-search,#buttonProduct-clear,.show-modal{
  background-color: orangered;
  border-radius: 12%;
  padding: 0.7%;
  color:white;
  text-align: center;
  border:1px solid white;
  margin: 2%;
}
.labelLogin{
  color:orangered;
}
#h1Login,#h1search{
  text-decoration-line: underline;
  text-decoration-color: orangered;
}
.loginInput,#productName{
 border-color: orangered;
  border-radius: 3%;
}
#buttonProduct-clear,#load{
display: none;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: orangered;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: orangered;
  color: white;
}