#allUsers{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
   align-content: center;
}
.red {
  color: orangered;
}
.green {
  color: green;
}
#managerTitle {
  color: orangered;
}
#filter_form , #meetForm{
  border: 4px solid orangered;
  margin: 3vw;
}
#pasandemail{
    text-align: center;
    /* justify-content: center; */
}
#userDetails{
    text-align: center;
    justify-content: center
}
tr{
  justify-content: center;
  text-align: center;
  color: black;
  border:1px solid orangered;
}
td{
  color: orangered;
  text-align: center;
  border:1px solid black;
  
}
table{
  display: flex;
  justify-content:space-around;
  text-align: center;
}
#newMeetingButton, #submitFilter{
  color: orangered;
  margin: 2vh;
  justify-content: center;
}
#mydetails{
  justify-content: center;
  text-align: center;
  color: black;
  margin-right: 20%;
  margin-left: 20%;
  border:4px solid orangered;
}
#user{
  color: orangered;
}
#buttonEdit,#buttonSave,#buttonLogin{
  background-color: orangered;
  border-radius: 12%;
  padding: 1%;
  color:black;
  text-align: center;
  border:1px solid black;
  margin-left: 2%;
  margin-right: 2%;
}
.labelLogin{
  color:orangered;
  
  
}
#h1Login{
  text-decoration-line: underline;
  text-decoration-color: orangered;
}
.loginInput{
 
 border-color: orangered;
  border-radius: 3%;

}